*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;

}
#main{
    width: 100%;
    height: 100vh;
}
#back{
    width: 100%;
    height: 100vh;
   
}
#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;    
}
#top{
    z-index: 10;    
    pointer-events: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
      
}
#workingarea{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
   
}
#nav{
    pointer-events: all;
    width:100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nleft{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#nleft img{
    height:80px;
}
#nleft a{
    color:#fff;
    font: "gilroy";
    text-decoration: none;

}

#nright{
    gap: 40px;
    display: flex;
    align-items: center;
    justify-items: start;
    justify-content: start;
}
#nright a{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    color:#fff;
    font: "gilroy";
    text-decoration: none;

}
#hero{
    top: %;
    left: 0;
    width: 100%;
    position: absolute;   
    display: flex;
    justify-content: space-between;
}

#hero-l{
    min-width: 50%;
   
   
    
}
#hero-l .elem {
    position: relative;    
    height: 7.2vw;
    /* margin-top: 10%; */
    overflow: hidden;
}

#hero-l .elem h1{
    line-height: 0.9;
    font-family: "kajiro";
    color: #fff;
    font-weight: 100;
    font-size: 9vw;
    position: absolute;
    top:100%;
    left:0%;
    
}
#hero-l .elem h1:nth-child(1){
    top:0%;
    
}



#hero-l button{
    pointer-events: all;
    margin-top: 2vw;;
    padding: .8vw 3vw;
    background-color: #fff;
    color:black;
    font-family:"kajiro";
    font-size: 3vw;
}
#hero-r{
    width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
}

#hero-r p{
    
    text-align: right;
    font-size: 14px;
    font-weight: 300;
    }

    #hero #imgdiv{
        pointer-events: all;
        width:100%;
        margin-top: 20px;
        margin-bottom: 30px;
        overflow: hidden;
        height: 170px;
        resize: both;
        background-image: url('car.jpg');
        background-size: cover;
        background-position: center;
    }
   
    
    #hero-r p:nth-child(3){
        margin-bottom: 50px;
    }
    @media (max-width:786px){
        body{
            display: none;
        }
        
    }
